*{
	margin: 0;
	padding: 0;
}
body{
	background: rgba(1,17,24,1.00);
}
h1{
	font-size: 30px;
	color: rgba(231,165,22,1.00);
	text-transform: uppercase;
	font-family: 'Syncopate', sans-serif;
}
p{
	font-family: 'Anonymous Pro', monospace;
}
#wrapper{
	width: 1024px;
	height: 2340px;
	background: #1F1F1F;
	margin: 0 auto;
}
#header{
	width: 100%;
	height: 70px;
	float: left;
/*	background-image: url("../img/images/banner_03.jpg");*/
	background-size: 100%;
	background-attachment: scroll;
/*	padding-top: 10px;*/
/*	filter: grayscale(100);*/
}
#header .logo{
	width: 240px;
	height: 47px;
	float: left;
	text-align: justify;
	color: rgba(231,165,22,1.00);
	margin-left: 15px;
	font-family: 'Syncopate', sans-serif;
	font-size: 20px;
	padding-top: 13px;
}
#header nav{
	float: left;
	padding-left: 10px;
	width:530px;
}
#header nav a{
            display: inline-block;
            padding:20px;
			font-family: 'Anonymous Pro', monospace;
            font-size:20px;
            color:teal;
            text-decoration:none;
        }
#header nav a:hover{
	background: #555353;
	color: #EA9E15;
}
#header .sign{
	float: right;
	font-family: 'La Belle Aurore', cursive;
	font-size: 40px;
	margin-right: 20px;
	color:rgba(126,160,172,1.00);
}
#header h1{
	clear: both;
	margin-left: 20px;
	margin-top: 360px;
	color: #E7A516;
	font-family: 'Caveat', cursive;
	text-align: left;
}
/*header*/
#banner{
	width: 100%;
	height: 550px;
	background-image: url("../img/banner.jpg");
	background-size: cover;
}
.text-box{
	width: 70%;
	float: left;
	margin-top: 268px;
	margin-left: 10.2%;
	text-align: center;
	height: 150px;
/*	background: red;*/
}
#banner .text-box button{
	border: 1px dotted teal;
	background-color: inherit;
	cursor: pointer;
	color: aliceblue;
	border-radius: 50%;
	padding: 15px 19px 9px 20px;
/*	font-size: 15px;*/
/*	color: antiquewhite;*/
}
#banner .text-box button:hover{
	background: rgba(158,191,180,0.53);
	color: #E7A516;
}
span {
	font-size: 25px;
	color: white;
	opacity: 0.5;
}

span:hover{
	color: rgba(231,165,22,1.00);
	opacity: 1;
}
/*banner*/
#content{
	width: 100%;
	height: 1750px;
	background: #1C1C1C;
	clear: both;
}
.about{
	width: 100%;
	height: 600px;
	background: #202D32;
/*	text-align: center;*/
/*	padding-top: 60px;*/
}
.about .gif{
	float: left;
	margin-right: 50px;
/*	margin: 20px 60px;*/
}
.about .about-content{
	float: left;
	text-align: justify;
	margin-top: 50px;
	font-size: 20px;
}
#content .works{
	width: calc(100%-30px);
	height: 700px;
	background: rgba(20,28,31,1.00);
	padding: 15px;
}
.works h1{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #F29E13;
}
.works .column{
	width: 300px;
	height:580px;
	background: rgba(32,51,57,1.00);
	float:left;
	margin-left: 15px;
	padding: 5px;
}
.column img {
	filter: grayscale(100%);
	margin-left: 10px;
	margin-top: 10px;
}
.column img:hover{
	filter: grayscale(0);
	opacity: 0.9;
}
.blog{
	width: 100%;
	height: 360px;
	background: rgba(32,51,57,1.00);
	text-align: center;
	padding-top: 60px;
}
.outter{
	width: 640px;
	height: 220px;
/*	background: white;*/
	margin: 0 auto;
}
.box{
	width: 200px;
	height: 200px;
	float: left;
	background: rgba(20,28,31,1.00);	
	margin-left: 10px;
	margin-top: 10px;
}
.box h1{
	font-size: 15px;
	margin-top: 80px;
}
.box:hover{
	opacity: 0.8;
}
.note-outter{
	width: 640px;
	height: 50px;
/*	background: white;*/
	margin: 0 auto;
	clear: both;
	margin-top: 10px;
}
.note{
	width: 200px;
	height: 50px;
	float: left;
	margin-left: 10px;
	text-align: center;
	font-family: 'Anonymous Pro', monospace;
}
.blog a{
	text-decoration: none;
	color: rgba(231,165,22,1.00);
}
.blog a:hover{
	color: rgba(126,160,172,1.00);
}
#footer{
	width: cacl(100%-20px);
	height: 60px;
	background: rgba(32,45,50,1.00);
	padding: 20px;
	clear: both;
}
#footer .logo{
	float: left;
	width: 200px;
	height: 80px;
}
#footer .sign{
	font-family: 'La Belle Aurore', cursive;
	font-size: 40px;
	color: rgba(126,160,172,1.00);
	text-align: center;
	float: left;
	width: 520px;
	height: 80px;
}
#footer .contact{
	width: 250px;
	float: right;
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
	text-align: left;
	margin-top: 10px;
	color: rgba(231,165,22,1.00);
	
}